{% extends "base.html.jinja" %}
{% block title %}{{ name }} | Inconnu Character Profile{% endblock %}
{% block meta_description %}Profile for {{ name }}, a Vampire: The Masquerade character.{% endblock %}
{% block head %}
	{{ super() }}
	{% if profile.images %}
		<meta property="og:image" content="{{ profile.images[0] }}">
	{% endif %}
{% endblock %}

{% block main %}
<div class="col-sm-6">
	<div class="card">
		<div class="card-body">
			<div class="well">
				<h5 class="text-muted">Character Profile</h5>
				<h1>{{ name }}</h1>
				<span class="text-muted">
					{% if guild %}
						{% if spc %}
							An <strong>SPC</strong> on <strong>{{ guild.name }}</strong>.
						{% else %}
							{% if owner %}
								Played by <strong>{{ owner }}</strong> on <strong>{{ guild }}</strong>.
							{% else %}
								A character on <strong>{{ guild }}</strong>.
							{% endif %}
						{% endif %}
					{% else %}
						A character floating in the <strong>void</strong>.
					{% endif %}

					{% if owner and not spc %}
						<img src="{{ owner.guild_avatar or owner.display_avatar }}" class="rounded-circle" width="32" alt="{{ owner.name }}">
					{% endif %}
					{% if guild %}
						<img src="{{ guild.icon }}" class="rounded-circle" width="32" alt="{{ guild.name }}">
					{% endif %}
				</span>
			</div>
			<hr>
			{% macro display_info(value) %}
				{% if value %}
					{{ value }}
				{% else %}
					<em class="text-muted">Not set.</em>
				{% endif %}
			{% endmacro %}
			<h5 class="card-title">Description</h5>
			<p class="card-text">{{ display_info(profile.description) }}</p>
			<h5 class="card-title">Biography</h5>
			<p class="card-text">{{ display_info(profile.biography) }}</p>
		</div>
		<div class="card-footer text-muted">
			<em>
				<p>
					All content on this page is player-generated. Any views, materials, or images presented are solely the product of the player.
				</p>
				<p>
					<strong>Is this your character?</strong> You can update profile data with <code>/character profile edit:{{ name }}</code>. Premium users can upload images with <code>/character image upload</code>!
				</p>
			</em>
		</div>
	</div>
</div>
<div class="col">
	{% if profile.images %}
		<div id="character-carousel" class="carousel slide rounded" data-bs-ride="carousel">
			<div class="carousel-inner">
				{% for image in profile.images %}
					{% set section_classes = "carousel-item" %}
					{% if loop.index0 == 0 %}
						{% set section_classes = section_classes + " active" %}
					{% endif %}
					<div class="{{ section_classes }}">
						<img src="{{ image }}" class="d-block w-100" alt="{{ name }}">
					</div>
				{% endfor %}
			</div>
		</div>
		{% else %}
			<p class="text-muted text-center"><em>No images set.</em></p>
	{% endif %}
</div>
{% endblock %}
